.team-container {
    display: flex;
    flex-wrap: wrap;
}

.team-avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
        width: 34px;
        height: 34px;
        margin-right: 5px;
    }
    border-radius: 50%;
    background: linear-gradient(45deg, lightblue, #eee, turquoise);
    padding: 1px 2px 0px 1px;
}

img.team-avatar-img {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;

    @media screen and (max-width: 768px) {
        width: 32px;
        height: 32px;
    }
    /* margin-right: 10px; */
}

.team-avatars {
    display: inline-block;
}

.team-names {
    color: rgb(2, 121, 109);
    border: 3px solid;
    border-image: linear-gradient(45deg, lightblue, #eee, turquoise);
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    padding: 2px 12px;
}
.team-names-container {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
        font-size: 0.9rem;
    }
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
}

.team-name {
    font-size: 1.2rem;
}

.team-players {
    font-size: 0.9rem;
}

.team-container {
    display: flex;
    align-items: center;
}
