<div class="team-container">
    <div class="team-avatars">
        <div class="team-avatar">
            <img class="team-avatar-img" [src]="image1" />
        </div>
        <div class="team-avatar">
            <img class="team-avatar-img" [src]="image2" />
        </div>
    </div>
    <div class="team-names">
        <div class="team-name" *ngIf="getTeamName() || 1">{{getTeamName()}} Nome squadra</div>
        <div class="team-name" *ngIf="!getTeamName()">{{player1}} - {{player2}}</div>
        <div class="team-players" *ngIf="!getTeamName() || 1"> {{player1}} - {{player2}}</div>
    </div>
</div>