.resultSection {
    text-align: center;
}

.result {
    display: flex;
    justify-content: space-evenly;
}

.teamSection {
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-evenly;
}
