/* You can add global styles to this file, and also import other style files */

.p-panel .p-panel-header .p-panel-title {
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.p-panel .p-panel-content {
    padding-left: 0;
    padding-right: 0;
}

.p-datatable .p-datatable-tbody > tr > td.resultValue {
    padding: 1rem 0.5rem;
}
